* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.App {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.random_btn {
  width: 100%;
  padding: 20px 100px 10px 0;
}

button {
  border: none;
  float: right;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

img {
  width: 20px;
  margin-left: 10px;
}

.quote_container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote_desc {
  margin-top: 150px;
  height: 300px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 1s ease;
}

p {
  height: 80%;
  width: 70%;
  border-left: 4px solid #F7DF94;
  padding-left: 50px;
  color: black;
}

.quote_author {
  width: 60%;
  padding-left: 50px;
  height: 130px;
  padding: 20px 0 20px 30px;
  font-size: 1rem;
  transition: background 0.4s ease;
}

h3 {
  padding-bottom: 10px;
}

span {
  color: #828282;
}

.quote_author:hover {
  background: #333333;
  color: white;
}


.AllQuotes {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.AllQuotes > h2 {
  margin-bottom: 100px;
  color: #333333;
}


.quotes_para {
  margin: 40px 0;
}
